[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biotools"]
	path = biotools
	url = https://github.com/arsilva87/biotools
[submodule "soilphysics"]
	path = soilphysics
	url = https://github.com/arsilva87/soilphysics
